.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog{
    display: block;
}

.dialogItems{
    padding: 10px;
}

.dialogItems .active{
    color: gold;
}

.messages{

}

.message{

}